<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .result {
            border: 1px solid #4CAF50;
            padding: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        a:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

    <h1>Predicted Price</h1>
    <div class="result">
        <h2>Your predicted price is: <span style="color: #4CAF50;">{{ prediction }}</span></h2>
    </div>

    <a href="/">Go Back</a>

</body>
</html>